 {
  box-sizing: border-box;
  text-align: center;
}
.flex-container {
	display:-webkit-flex;
    display: flex;
    height:1024px;
    width:100%;
    background-color: #777;
    position:relative;
}

.header {
 position:absolute;
  padding: 20px;
  margin-bottom: 20px;
  color: #ebebeb;
  background-color: #ccc;
  height: 50px;
  left:32px;
  right:32px;
  top:0;
	vertical-align:text-middle;
	font-family: Arial;
	font-size:18px;
	font-weight:bold;
	justify-content: center;
  display:flex;
  
}
.header-text-box-1{
	position:absolute;
	width:20%;
	top:0;
	bottom:0;
	left:2%;
	background-color:green;
	color:#ebebeb;
	vertical-align:text-middle;
	font-family: Arial;
	font-size:18px;
	font-weight:bold;
	justify-content: center;
	display:flex;
	

}
.header-text-box-2{
	position:absolute;
	top:0;
	bottom:0;
	width:150px;
	left: 648px;
	background-color:green;
	color:#ebebeb;
	vertical-align: text-middle;
	font-family: Arial;
	font-size:18px;
	font-weight:bold;
	justify-content: center;
	display:flex;
	

}

.header-text-box-3{
	position:absolute;
	width:150px;
	top:0;
	bottom:0;
	left: 848px;
	background-color:green;
	color:#ebebeb;
	vertical-align: text-middle;
	font-family: Arial;
	font-size:18px;
	font-weight:bold;
	justify-content: center;
	display:flex;

}

.header-text-box-4{
	position:absolute;
	width:150px;
	top:0;
	bottom:0;
	left:1048px;
	background-color:green;
	color:#ebebeb;
	vertical-align: text-middle;
	font-family: Arial;
	font-size:18px;
	font-weight:bold;
	justify-content: center;
	display:flex;
}

.navi {
  position:absolute;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 60px;
  left:32px;
  right:32px;
  top:10%;
  color: #ebebeb;
  background-color: #ccc;
  justify-content: center;
  vertical-align: text-middle;
  font-family: Arial;
  font-size:18px;
  font-weight:bold;
  display:flex;
  
}
.section {
  position:absolute;
  padding: 20px;
  margin-bottom: 20px;
  color: #ebebeb;
  background-color: #ccc;
  height: 500px;
  width:495px;
  top:30%;
  left:32px;
  justify-content: center;
  vertical-align: text-middle;
  font-family: Arial;
  font-size:18px;
  font-weight:bold;
  display:flex;
}

.article {
  position:absolute;
  padding: 20px;
  margin-bottom: 20px;
  color: #ebebeb;
  background-color: #777;
  height: 350px;
  top:25%;
  left:16px;
  right:16px;
  justify-content: center;
  vertical-align: text-middle;
  font-family: Arial;
  font-size:18px;
  font-weight:bold;
  display:flex;
}

.article1 {
  position:absolute;
  padding: 20px;
  margin-bottom: 20px;
  color: #ebebeb;
  background-color: #ccc;
  height: 90px;
  top:25%;
  left:16px;
  right:16px;
  justify-content: center;
  vertical-align: text-middle;
  font-family: Arial;
  font-size:18px;
  font-weight:bold;
  display:flex;
}

.article2 {
  position:absolute;
  padding: 20px;
  margin-bottom: 20px;
  color: #ebebeb;
  background-color: #ccc;
  height: 90px;
  top:60%;
  left:16px;
  right:16px;
  justify-content: center;
  vertical-align: text-middle;
  font-family: Arial;
  font-size:18px;
  font-weight:bold;
  display:flex;
}


.sidebox{
  position:absolute;
  padding: 20px;
  margin-bottom: 20px;
  color: #ebebeb;
  background-color: #ccc;
  height: 500px;
  width:400px;
  right:32px;
  top:30%;
  justify-content: center;
  vertical-align: text-middle;
  font-family: Arial;
  font-size:18px;
  font-weight:bold;
  display:flex;
  

}
.footer {
  position:absolute;
  padding: 20px;
  margin-bottom:0px;
  color: #ebebeb;
  background-color: #ccc;
  height: 50px;
  left:32px;
  right:32px;
  bottom:0;
  display:flex;
  justify-content:center;
  vertical-align: text-middle;
  font-family: Arial;
  font-size:18px;
  font-weight:bold;
  
}




.flex-item {
    position:absolute;
    height: 150px;
    width: 150px;
    margin: 10px;
    border:2px;
    background-color: cornflowerblue;
}

.flex-item-1{
	top:6%;
	left:2%;
}

.flex-item-2{
	position:absolute;
    height: 150px;
    width: 150px;
    margin: 10px;
    border:2px;
	top:0;
	right:-50px;
	background-color:black;
}

.flex-item-3{
	position:absolute;
    height: 150px;
    width: 150px;
    margin: 10px;
    border:2px;
	bottom:-20px;
	right:0px;
	background-color: yellow;

}

.box-set{
	display: flex;
	height:400px;
	background:darkgray;
	position:relative;
}
.box {
	position:absolute;
	height: 150px;
	width:150px;
	background: #2db34a;
	border:2px 
}
.box-1{
	top:6%;
	left:2%;
	
}
.box-2{
	top:0;
	right:-50px;
	
}
.box-3{
	bottom:-20px;
	right:0px;
	}
.box-4{
	bottom:0;
	position:absolute;
	
}